/* ++++++++++++ */
/* GRAPH style */
/* ++++++++++++ */

#graph-scatter-plot .nsewdrag.drag {
    fill: #1A1A1A !important;
}


/* scrollbar */
.scroll {
  direction: rtl !important;
}
.scroll div div {
    direction: ltr !important;
}


::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #76b900; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2f3445; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #474f68; 
}